<div class="content bg-image2">
    <div class="content-title">
        <h2>Livros</h2>
    </div>
    <div class="boxes">
        <div class="box" *ngFor="let book of books"> 
            <h1> Título: {{book.name}} </h1>
            <h3> Descrição: {{book.description}}</h3>
            <h3> Autoria: {{book.autorship}}</h3>
            <h3>Id: {{book.id}}</h3>
            <div class="box-icon">
                <h1><a routerLink="/category/books/update/{{book.id}}"><img src="../../../../assets/logosvg/edit-solid.svg" alt="Edit"></a></h1>
                <h1><a routerLink="/category/books/delete/{{book.id}}"><img src="../../../../assets/logosvg/delete-solid.svg" alt="delete"></a></h1>
            </div>  
        </div>
    </div>
</div>
