<div class="content bg-image2">
    <div class="content-title">
        <h2>Livros</h2>
    </div>
    <div class="boxes">
        <div class="box"> 
            <h1> Title </h1>
            <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur explicabo, omnis harum sint aperiam commodi maiores tempore illo animi fugit optio nemo sapiente, qui facere eius. Veritatis voluptatum vero iusto. </h3>
            <div class="box-icon">
                <h1><a href=""><img src="../../../../assets/logosvg/edit-solid.svg" alt="Edit"></a></h1>
                <h1><a href=""><img src="../../../../assets/logosvg/delete-solid.svg" alt="delete"></a></h1>
            </div>
            <h1> Autorship </h1>
        </div>
    </div>

    <a class="btn-criar"> Criar Categoria </a>
</div>
