.header-page{
    position: fixed;
    height: 10%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vmin;
    gap: 2vmin;
}

.header-title{
    font-size: 7vmin;
    font-weight: 500;
}

.header-title a{
    color: white;
    text-decoration: none;
}


.header-list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 14vmin;
    font-size: 2vmin;
    font-weight: 700;
}

.header-list a{
    text-decoration: none;
    color: white;
    transition: .9s;
}

.header-list a:hover{
    text-decoration: underline;
    transition: .9s;
}

