<header>
    <div class="header-page">    
            <h2 class="header-title"> <a href="">Cosso Library</a> </h2>
            <nav class="header-list">
                <ul>
                    <li><a routerLink="/about">Sobre</a></li>
                    <li><a routerLink="/category">Categorias</a></li>
                    <li><a routerLink="/category/books">Livros</a></li>
                    <li><a routerLink="https://www.linkedin.com/in/vitorcosso/">Criador</a></li>
                </ul>
            </nav>    
    </div>
</header>