<div class="container bg-image1">
    <div class="box">
        <h2 class="container-title">Projeto Cosso Library</h2>
        <p class="container-text"> Esse projeto tem como foco imitar um Sistema Controle de Livros em Livraria virtual Cosso Library, onde mostra todos os livros e categorias que existem nela.
        </p>
        <p class="container-text"> 
            O projeto foi desenvolvido por <a href="https://www.linkedin.com/in/vitorcosso/"> Vitor Cosso</a> durante os meses de Dezembro de 2023 e Janeiro de 2024.
        </p>

        <h1>Tecnologias e Práticas</h1>
        <p class="container-text">
            As tecnologias utilizadas foram Java Spring Boot, Angular 17, H2 Database (Banco de dados em Memoria que utiliza a mesma sintaxe do MySQL), MySQL em testes, Git e Github,
            Visual Code Studio, Clean Code e Arquitetura Limpa.
        </p>

        <h1>Foco</h1>
        <p class="container-text">
            Esse é um projeto pessoal com foco em aprendizado e dominío das linguaguens, tecnologias e praticas utilizadas durante o desenvolvimento.
        </p>
        <h1>Sugestões & Contato </h1>
        <p class="container-text">
            Caso tenha alguma sugestão para a melhora do site, ou queira entrar em contato com o criador do site as informações estão disponiveis abaixo: 
            <br>
            <br>
            Email: vitorcosso*gmail.com 
            <br>
            Telefone: (11) 95386-5725

        </p>

    </div>
</div>


