.container{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 7vmin;
    gap :2vmin;
}

.container-title{
    padding: 0;
    margin: 0;
    gap: 0;
}

.bg-image1{
    background-image: url(../../../../assets/bookimg.jpg);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}