.container{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 7vmin;
    gap :3vmin;
}

.container-title{
    font-size: 10vmin;
    color: white;
    margin-bottom: 2vmin;
}

.container-text{
    font-size: 2.3vmin;
    color: white;
    margin-bottom: 2vmin;
}


.bg-image1{
    background-image: url(../../../../assets/imgs/bookimg2.jpeg);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.box{
    width: 50%;

}

.box-btn{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vmin;

}

.btn {
    background-color: #808080;
    border: 3px solid #808080;
    color: white;
    border-radius: 8%;
    padding: 1.3vmin;
    font-size: 2.3vmin;
    transition: .3s;
    text-decoration: none;
}
  
  
.btn:hover {
    background-color: white;
    color: black;
    border: 3px solid white;
    transform: scale(1.1);
}
