.content{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 7vmin;
    gap :3vmin;
}

.content-title{
    font-size: 7vmin;
    color: white;
    margin-bottom: 2vmin;
}

.bg-image2{
    background-image: url(../../../../assets/imgs/bookimg2.jpeg);
    width: 93.265% ;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
}


