<div class="content bg-image2">
    <div class="content-title">
        <h2>Categorias</h2>
    </div>
    <table>
        <thead>
            <tr class="thead-row-category">
                <td>Nome</td>
                <td>Descrição</td>
                <td>Livros</td>
                <td>Editar & Excluir</td>
            </tr>
        </thead>
        <tbody class="tbody-catergory">
            <tr class="table-row-category" *ngFor="let category of categoriesByUrl">
                <td><a routerLink="category/{{category.id}}" class="btn" [textContent]="category.name"></a></td>
                <td [textContent]="category.description"></td>
                <td>
                    <a routerLink="category/{{category.id}}" class="icon"> <img src="../../../../assets/logosvg/book-solid.svg" alt="book img"></a>
                </td>
                    <td>
                        <a routerLink="category/update/{{category.id}}" class="icon"> <img src="../../../../assets/logosvg/edit-solid.svg" alt="edit img"></a>
                        <a routerLink="category/delete/{{category.id}}" class="icon"> <img src="../../../../assets/logosvg/delete-solid.svg" alt="delete img"></a> 
                </td>
            </tr>
        </tbody>
    </table>
    <a (click)="redirectToCreateCategory()" class="btn-criar"> Criar Categoria </a>
</div>
