.content{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20vmin 10vmin 10vmin 10vmin;
    gap :5vmin;

   
}

.content-title h2{
    font-size: 7vmin;
    font-weight: 500;
    color: white;
    margin-bottom: 2vmin;
}

.bg-image2{
    background-image: url(../../../../assets/imgs/bookimg2.jpeg);
    width: 93.265% ;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
}

.table-row-category{
    /* descricao categoria */
    color: white;
    font-size: 2vmin;
    line-height: 15vmin;
    
}

.table-row-category a{
    /* nome categoria */
    color: white;
    font-size: 3vmin;
    transition: .9s;
    text-decoration: none;
}

.table-row-category a:hover{
    /* nome categoria */
    color: black;
    
}

.thead-row-category{
    color: white;
    font-size: 5vmin;
}

.btn {
    background-color: #808080;
    border: 3px solid #808080;
    color: white;
    border-radius: 20px 2px;
    padding: 1.3vmin;
    font-size: 2.3vmin;
    transition: .3s;
    text-decoration: none;
}
  
  
.btn:hover {
    background-color: white;
    color: black;
    border: 3px solid white;
    transform: scale(1.1);
}

