.content{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 7vmin;
    gap :3vmin;
}

.content-title{
    font-size: 7vmin;
    color: white;
    margin-bottom: 2vmin;
}

.bg-image2{
    background-image: url(../../../../assets/imgs/bookimg2.jpeg);
    width: 93.265% ;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
}

.table-row-category{
    /* descricao categoria */
    color: white;
    font-size: 3vmin;
}

.table-row-category{
    line-height: 8vmin;
}



.table-row-category a{
    /* nome categoria */
    color: white;
    font-size: 4vmin;
    transition: .9s;
    text-decoration: none;
}

.table-row-category a:hover{
    /* nome categoria */
    color: wheat;
}

.thead-row-category{
    color: white;
    font-size: 7vmin;
}

