<div class="content bg-image2">
    <div class="content-title">
        <h2><span class="red">{{categorySingle.name}} </span>books</h2>
    </div>
    <div class="boxes">
        <div class="box" *ngFor="let book of categorySingle.books"> 
            <h1>Título: {{book.name}}</h1>
            <h3 > Descrição: {{book.description}}</h3>
            <h3 >Autor: {{book.autorship}}</h3>
            <h3>Id Livro: {{book.id}}</h3>
            <div class="box-icon">
                <h1><a routerLink="/category/books/update/{{book.id}}"><img src="../../../../assets/imgs/edit-solid.png" alt="Edit"></a></h1>
                <h1><a routerLink="/category/books/delete/{{book.id}}"><img src="../../../../assets/imgs/delete-solid.png" alt="delete"></a></h1>
            </div>  
        </div>
    </div>

    <a class="btn-criar" routerLink="/category/{{categorySingle.id}}/books/create"> Criar Livro </a>
</div>
