<div class="container bg-image1">
    <div class="content-title">
        <h2> Criar Categoria </h2>
    </div>

    <div>
    <form action="" class="forms-container">
        <div class="container-dados">
            <div class="dados">
                <label for="category-name"> Nome:   </label>
                <input [(ngModel)]="category.name" type="text" name="category-name" class="input width-name" placeholder="Ciencia">
            </div>

            <div class="dados">
                <label for="category-text"> Descrição: </label>
                <input [(ngModel)]="category.description" type="text"  name="category-description" class="input width-description" placeholder="Livros de Ciencia">
            </div>

            <button (click)="create()" type="submit" class="btn-submit">
                Enviar Dados
            </button>
            <button  (click)="redirectToIndex()" type="submit" class="btn-submit">
                Cancelar
            </button>
        </div>
    </form>
</div>